.heading {
  text-align: center;
}

.app-2 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.2rem;
  padding: 1rem;
}

.App{
  height:100vh;
  background-image: url(./bg-quote-app.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .app-2 {
    width: 100%;
    
  }
  .footer{
    color: white;
  }
}



